
.bg-2 {
	background: url("/source/images/bg/main.jpg")no-repeat;
	background-size: cover;
}

.bg-3 {
	background: url("/source/images/bg/b3.jpg") no-repeat;
	background-size: cover;
}



.bg-4 {
	background: url("/source/images/bg/images.png") no-repeat;
	background-size: cover;
	@extend .overly;
}


