
.bg-2 {
	background: url("/theme/images/bg/about.jpg")no-repeat;
	background-size: cover;
}

.bg-3 {
	background: url("/theme/images/bg/images.png") no-repeat;
	background-size: cover;
}



.bg-4 {
	background: url("../images/about/img-7.jpg") no-repeat;
	background-size: cover;
	@extend .overly;
}


